<li>
	{{name}}

	<button class="change-devoured" data-id="{{id}}" data-newdevoured="{{devoured}}">
		{{#if devoured}}Burger has been devoured.{{else}}Burger has yet to be devoured.{{/if}}
	</button>
</li>