<h1>Update {{this.id}}</h1>

<form data-id="{{this.id}}" class="update-form">

  <div class="form-group">
    <label for="burger-name">Burger Name</label>
    <input type="text" id="burger-name" name="burger-name" value="{{this.burger_name}}">
  </div>

  <button type="submit">Update your burger.</button>
</form>